:root {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}

body {
  margin: 0;
  background-color: var(--lightgray);
  font-family: Outfit, sans-serif;
  font-size: 15px;
}

h1 {
  color: var(--darkblue);
  font-size: 1.75rem;
}

p {
  color: var(--grayblue);
  font-size: 1.25rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.card {
  background-color: var(--white);
  width: 21.876rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
}

.qr-image {
  width: 100%;
  margin: 0 auto;
  border-radius: 0.625rem;
}
